<div id="home" class="a-white">
    <img src="/images/beer.png" alt="Beer">
    <a href="beers" class="blue-btn-box"><span class="home-btn"></span>Check the Beers!</a>
    <a href="random-beer" class="blue-btn-box"><span class="home-btn">Check a Random Beer</span></a>
</div>